@media screen and (max-width: 1250px) {
    .container__imagem-pessoa {
        display: none;
    }

    h1 {
        font-size: 50px;
    }
}
@media screen and (max-width: 720px) {

    .container{
        width: 90%;
    }
    h1{
        text-align: center;
    }
    .texto__paragrafo {
        font-size: 28px;
    }
}

@media screen and (max-width: 420px) {

    .container{
        width: 100%;
    }
    .container__botao, .container__botao-desabilitado  {
        font-size: 20px;
    }
    
    h1{
        font-size: 40px;
        text-align: center;
    }
    .texto__paragrafo {
        font-size: 20px;
    }
}